@model PatientCardsITC.Models.History

@{
    ViewData["Title"] = "Удалить";
    Layout = null;
}

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Patient.Address)
        </dd class>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Position.PositionName)
        </dd class>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Doctor.FIO)
        </dd class>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Diagnos)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Diagnos)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Complain)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Complain)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HistoryId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
    </form>
</div>