@model PatientCardsITC.Models.History

@{
    ViewData["Title"] = "Детали";
    Layout = null;
}

    <h4>Детали</h4>
    <hr />
    <dl class="row">
        <dt  class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Patient.Address)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Position.PositionName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Doctor.FIO)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Diagnos)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Diagnos)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Complain)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Complain)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
    </dl>