@model IEnumerable<PatientCardsITC.Models.Patient>

@{
    ViewData["Title"] = "Пациенты";
}

<h1>Пациенты</h1>

<p> @Html.ActionLink("Добавить", "Create", "Patients", new { }, new { @id = "add", data_dialog_title = "Создание модели" })</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-action="Edit" class="viewDialog" asp-route-id="@item.PatientId">Изменить</a> |
                    <a asp-action="Details" class="viewDialog" asp-route-id="@item.PatientId">Детали</a> |
                    <a asp-action="Delete" class="viewDialog" asp-route-id="@item.PatientId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
   $(document).ready(function () {
        $.ajaxSetup({ cache: false });

           $(".viewDialog").on("click", function (e) {
        e.preventDefault();

        $("<div></div>")
            .addClass("dialog")
            .appendTo("body")
            .dialog({
                title: $(this).attr("data-dialog-title"),
                close: function () { $(this).remove() },
                modal: true
            })
            .load(this.href);
           });

       $('#add').on('click', function(e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    buttons: {
                        "Выпонить": function () {
                            $.ajax({
                             url: "@Url.Action("Create", "Patients")",
                             type: "POST",
                             data: $('form').serialize(),
                             datatype: "json",
                             success: function (result) {

                                 $("#dialogContent").html(result);
                                }
                            });
                        }
                    }
                });
       });
   });
    </script>
}